name: Build

on:
  # On a push to a branch.
  push:
    branches: [ 'main' ]

    paths-ignore:
      - 'README.md'
      - 'requirements.txt'
      # - 'defaults.txt'
      # - 'icons32/*'
      # - 'item_list.txt'
      # - 'enemies.py'
      # - 'gear.py'

  # On a pull request to a branch.
  pull_request:
    branches: [ 'main' ]
    
    paths-ignore:
      - 'README.md'
      - 'requirements.txt'
      # - 'defaults.txt'
      # - 'icons32/*'
      # - 'item_list.txt'
      # - 'enemies.py'
      # - 'gear.py'

env:
  # System
  TERM: xterm

jobs:
  build:
    name: Build
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10.6' 

    - name: Setup PIP
      run: | 
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        # pip install numpy
        # pip install matplotlib
        # pip install numba
        # pip install pillow
        # pip install pyinstaller
        # pip install colorama

    - name: Create Installer
      run: pyinstaller --exclude-module gear --exclude-module enemies --clean --onefile --icon=icons32/23937.ico gui_main.py

    - name: Upload Installer
      uses: actions/upload-artifact@v4
      with: 
        name: kastra_ffxi_sim-executable-only
        path: ./dist/gui_main.exe

  publish-artifacts:
    name: Publish Artifacts
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: kastra_ffxi_sim-executable-only
        path: ./  

    - name: Zip Artifacts
      run: |
        zip -r ./kastra_ffxi_sim-full.zip ./gui_main.exe
        zip -r ./kastra_ffxi_sim-full.zip ./gear.py
        zip -r ./kastra_ffxi_sim-full.zip ./enemies.py
        zip -r ./kastra_ffxi_sim-full.zip ./item_list.csv
        zip -r ./kastra_ffxi_sim-full.zip ./defaults.pkl
        zip -r ./kastra_ffxi_sim-full.zip ./icons32

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with: 
        name: kastra_ffxi_sim-full
        path: ./kastra_ffxi_sim-full.zip
